In [1]:
import pandas as pd

In [6]:
customers = pd.read_csv("pandas_6.csv")

In [7]:
customers

   customer_id     name                email
0            1     Ella    emily@example.com
1            2    David  michael@example.com
2            3  Zachary    sarah@example.com
3            4    Alice     john@example.com
4            5     Finn     john@example.com
5            6   Violet    alice@example.com

In [5]:
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    return customers.drop_duplicates(["email"])

In [8]:
dropDuplicateEmails(customers)

   customer_id     name                email
0            1     Ella    emily@example.com
1            2    David  michael@example.com
2            3  Zachary    sarah@example.com
3            4    Alice     john@example.com
5            6   Violet    alice@example.com