In [30]:
import pandas as pd
data = [[0, 0, 'start', 0.712], [0, 0, 'end', 1.52], [0, 1, 'start', 3.14], [0, 1, 'end', 4.12], [1, 0, 'start', 0.55], [1, 0, 'end', 1.55], [1, 1, 'start', 0.43], [1, 1, 'end', 1.42], [2, 0, 'start', 4.1], [2, 0, 'end', 4.512], [2, 1, 'start', 2.5], [2, 1, 'end', 5]]
activity = pd.DataFrame(data, columns=['machine_id', 'process_id', 'activity_type', 'timestamp']).astype({'machine_id':'Int64', 'process_id':'Int64', 'activity_type':'object', 'timestamp':'Float64'})

In [31]:
activity

    machine_id  process_id activity_type  timestamp
0            0           0         start      0.712
1            0           0           end       1.52
2            0           1         start       3.14
3            0           1           end       4.12
4            1           0         start       0.55
5            1           0           end       1.55
6            1           1         start       0.43
7            1           1           end       1.42
8            2           0         start        4.1
9            2           0           end      4.512
10           2           1         start        2.5
11           2           1           end        5.0

In [32]:
pivot = activity.pivot_table(index=["machine_id", "process_id"], columns='activity_type', values='timestamp')

In [34]:
pivot['duration'] = pivot['end'] - pivot['start']

In [44]:
result = pivot.groupby("machine_id")['duration'].mean().round(3).reset_index()

In [45]:
result

   machine_id  duration
0           0     0.894
1           1     0.995
2           2     1.456

In [46]:
import pandas as pd

def get_average_time(activity: pd.DataFrame) -> pd.DataFrame:
    pivot = activity.pivot_table(index=["machine_id", "process_id"], columns='activity_type', values="timestamp")
    pivot["processing_time"] = pivot['end'] - pivot['start']
    return pivot.groupby("machine_id")['processing_time'].mean().round(3).reset_index()

In [47]:
get_average_time(activity)

   machine_id  processing_time
0           0            0.894
1           1            0.995
2           2            1.456