In [2]:
import pandas as pd

In [3]:
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})

In [4]:
accounts

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

In [12]:
low_salary_count = accounts[accounts['income'] < 20000].shape[0]
low_salary_count

1

In [10]:
average_salary_count = accounts[(accounts['income'] >= 20000) & (accounts['income'] <= 50000)].shape[0]
average_salary_count

0

In [8]:
high_salary_count = accounts[accounts['income'] > 50000].shape[0]
high_salary_count

3

In [11]:
pd.DataFrame({
        'category': ['High Salary', 'Low Salary', 'Average Salary'],
        'accounts_count': [high_salary_count, low_salary_count, average_salary_count]
    })

         category  accounts_count
0     High Salary               3
1      Low Salary               1
2  Average Salary               0