In [1]:
import pandas as pd

In [3]:
products = pd.read_csv("pandas_11.csv")

In [4]:
products

              name  quantity  price
0       Wristwatch       NaN    135
1  WirelessEarbuds       NaN    821
2        GolfClubs     779.0   9319
3          Printer     849.0   3051

In [8]:
def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    return products.assign(quantity = products["quantity"].fillna(0))

In [9]:
fillMissingValues(products)

              name  quantity  price
0       Wristwatch       0.0    135
1  WirelessEarbuds       0.0    821
2        GolfClubs     779.0   9319
3          Printer     849.0   3051