In [1]:
import pandas as pd

In [2]:
students = pd.read_csv("pandas_10.csv")

In [3]:
students

   student_id  name  age  grade
0           1   Ava    6   73.0
1           2  Kate   15   87.0

In [7]:
def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    return students.assign(grade = students["grade"].astype(int))

In [8]:
changeDatatype(students)

   student_id  name  age  grade
0           1   Ava    6     73
1           2  Kate   15     87