In [1]:
import pandas as pd

In [2]:
data = [[13, 15, 30], [10, 20, 15]]
triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x':'Int64', 'y':'Int64', 'z':'Int64'})

In [3]:
triangle

    x   y   z
0  13  15  30
1  10  20  15

In [13]:
import numpy as np
triangle["triangle"] = np.where((triangle["x"] + triangle["y"] > triangle["z"]) &
                                (triangle["x"] + triangle["z"] > triangle["y"]) &
                                (triangle["y"] + triangle["z"] > triangle["x"]),
                                "yes", "no")
triangle

    x   y   z triangle
0  13  15  30       no
1  10  20  15      yes