In [27]:
import pandas as pd

In [28]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})

In [29]:
logs

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    1
5   6    2
6   7    2

In [30]:
nums = set()

In [31]:
for i in range(len(logs['num']) - 2):
    if logs['num'][i] == logs['num'][i+1] and logs['num'][i+1] == logs['num'][i+2]:
            nums.add(logs['num'][i])
logs["num"]

0    1
1    1
2    1
3    2
4    1
5    2
6    2
Name: num, dtype: Int64

In [32]:
pd.DataFrame({'ConsecutiveNums' :list(nums)})

   ConsecutiveNums
0                1