In [1]:
import pandas as pd

In [7]:
data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2], [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype({'id':'Int64', 'movie':'object', 'description':'object', 'rating':'Float64'})

In [8]:
cinema

   id       movie  description  rating
0   1         War     great 3D     8.9
1   2     Science      fiction     8.5
2   3       irish       boring     6.2
3   4    Ice song      Fantacy     8.6
4   5  House card  Interesting     9.1

In [9]:
odd_id_boring = cinema[(cinema["id"] % 2 != 0) & (cinema["description"] != "boring")]

In [10]:
odd_id_boring.sort_values(["rating"], ascending=False)

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9