In [2]:
import pandas as pd

In [3]:
data = [[5, 'Alice', 250, 1], [4, 'Bob', 175, 5], [3, 'Alex', 350, 2], [6, 'John Cena', 400, 3], [1, 'Winston', 500, 6], [2, 'Marie', 200, 4]]
queue = pd.DataFrame(data, columns=['person_id', 'person_name', 'weight', 'turn']).astype({'person_id':'Int64', 'person_name':'object', 'weight':'Int64', 'turn':'Int64'})

In [4]:
queue

   person_id person_name  weight  turn
0          5       Alice     250     1
1          4         Bob     175     5
2          3        Alex     350     2
3          6   John Cena     400     3
4          1     Winston     500     6
5          2       Marie     200     4

In [6]:
turns_sorted = queue.sort_values("turn")

In [8]:
turns_sorted["total weight"] = turns_sorted["weight"].cumsum()
turns_sorted

   person_id person_name  weight  turn  total weight
0          5       Alice     250     1           250
2          3        Alex     350     2           600
3          6   John Cena     400     3          1000
5          2       Marie     200     4          1200
1          4         Bob     175     5          1375
4          1     Winston     500     6          1875

In [11]:
turns_sorted[turns_sorted["total weight"] <= 1000][["person_name"]].tail(1)

  person_name
3   John Cena