In [1]:
import pandas as pd

In [2]:
data = [[8], [8], [3], [3], [1], [4], [5], [6]]
my_numbers = pd.DataFrame(data, columns=['num']).astype({'num':'Int64'})

In [3]:
my_numbers

   num
0    8
1    8
2    3
3    3
4    1
5    4
6    5
7    6

In [20]:
single_vals = my_numbers.groupby("num").size().reset_index(name="count")
single_vals = single_vals[single_vals["count"] == 1]["num"]

In [24]:
pd.DataFrame({'num': [single_vals.max()]})

   num
0    6