In [1]:
import pandas as pd

In [2]:
data = [[1, 1, '2019-08-01', '2019-08-02'], [2, 2, '2019-08-02', '2019-08-02'], [3, 1, '2019-08-11', '2019-08-12'], [4, 3, '2019-08-24', '2019-08-24'], [5, 3, '2019-08-21', '2019-08-22'], [6, 2, '2019-08-11', '2019-08-13'], [7, 4, '2019-08-09', '2019-08-09']]
delivery = pd.DataFrame(data, columns=['delivery_id', 'customer_id', 'order_date', 'customer_pref_delivery_date']).astype({'delivery_id':'Int64', 'customer_id':'Int64', 'order_date':'datetime64[ns]', 'customer_pref_delivery_date':'datetime64[ns]'})

In [3]:
delivery

   delivery_id  customer_id order_date customer_pref_delivery_date
0            1            1 2019-08-01                  2019-08-02
1            2            2 2019-08-02                  2019-08-02
2            3            1 2019-08-11                  2019-08-12
3            4            3 2019-08-24                  2019-08-24
4            5            3 2019-08-21                  2019-08-22
5            6            2 2019-08-11                  2019-08-13
6            7            4 2019-08-09                  2019-08-09

In [11]:
first_orders = delivery.groupby("customer_id", as_index=False)["order_date"].min()

In [16]:
first_orders

   customer_id order_date
0            1 2019-08-01
1            2 2019-08-02
2            3 2019-08-21
3            4 2019-08-09

In [15]:
first_order_per_customer = pd.merge(delivery, first_orders, left_on=['customer_id', 'order_date'], right_on=['customer_id', 'order_date'], how='inner')

In [17]:
first_order_per_customer

   delivery_id  customer_id order_date customer_pref_delivery_date
0            1            1 2019-08-01                  2019-08-02
1            2            2 2019-08-02                  2019-08-02
2            5            3 2019-08-21                  2019-08-22
3            7            4 2019-08-09                  2019-08-09

In [22]:
immediate_orders = (first_order_per_customer["order_date"] == first_order_per_customer["customer_pref_delivery_date"]).sum()

In [24]:
total_count = len(first_order_per_customer)
total_count

4

In [31]:
percentage = ((immediate_orders / total_count) * 100).round(2)
percentage_df = pd.DataFrame({'percentage': [percentage]})

In [32]:
percentage_df

   percentage
0        50.0