In [57]:
import pandas as pd

In [58]:
data = [['Dog', 'Golden Retriever', 1, 5], ['Dog', 'German Shepherd', 2, 5], ['Dog', 'Mule', 200, 1], ['Cat', 'Shirazi', 5, 2], ['Cat', 'Siamese', 3, 3], ['Cat', 'Sphynx', 7, 4]]
queries = pd.DataFrame(data, columns=['query_name', 'result', 'position', 'rating']).astype({'query_name':'object', 'result':'object', 'position':'Int64', 'rating':'Int64'})

In [59]:
queries

  query_name            result  position  rating
0        Dog  Golden Retriever         1       5
1        Dog   German Shepherd         2       5
2        Dog              Mule       200       1
3        Cat           Shirazi         5       2
4        Cat           Siamese         3       3
5        Cat            Sphynx         7       4

In [61]:
quality_df = (
    (queries["rating"] / queries["position"])
    .groupby(queries["query_name"])
    .mean()
    .round(2)
    .reset_index(name="quality")
)
quality_df

  query_name  quality
0        Cat     0.66
1        Dog      2.5

In [62]:
poor_query_df = (queries["rating"] < 3).groupby(queries["query_name"]).mean().round(2).mul(100).reset_index(name="poor_query_percentage")

In [63]:
result_df = pd.merge(quality_df, poor_query_df, on="query_name")

In [64]:
result_df

  query_name  quality  poor_query_percentage
0        Cat     0.66                   33.0
1        Dog      2.5                   33.0