In [1]:
import pandas as pd

In [2]:
data = [['0', '1'], ['1', '0'], ['2', '0'], ['2', '1']]
followers = pd.DataFrame(data, columns=['user_id', 'follower_id']).astype({'user_id':'Int64', 'follower_id':'Int64'})

In [3]:
followers

   user_id  follower_id
0        0            1
1        1            0
2        2            0
3        2            1

In [5]:
user_grps = followers.groupby("user_id")

In [10]:
user_grps.count().reset_index().rename(columns={"follower_id": "followers_count"})

   user_id  followers_count
0        0                1
1        1                1
2        2                2