In [1]:
import pandas as pd

In [2]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})

In [3]:
courses

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

In [22]:
class_counts = courses["class"].value_counts()
class_counts

class
Math        6
English     1
Biology     1
Computer    1
Name: count, dtype: int64

In [37]:
class_most_counts = pd.DataFrame(class_counts.loc[class_counts >= 6]).reset_index().drop(columns="count")
class_most_counts

  class
0  Math