In [17]:
import pandas as pd

In [18]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [19]:
weather

   id recordDate  temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

In [20]:
weather.sort_values(by="recordDate", inplace=True)

In [32]:
weather

   id recordDate  temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

In [21]:
temp_diff = weather["temperature"].diff()
date_diff = weather['recordDate'].diff()

In [22]:
temp_diff

0    <NA>
1      15
2      -5
3      10
Name: temperature, dtype: Int64

In [23]:
date_diff

0      NaT
1   1 days
2   1 days
3   1 days
Name: recordDate, dtype: timedelta64[ns]

In [31]:
weather[(temp_diff > 0) & (date_diff == pd.Timedelta(days=1))][["id"]]

   id
1   2
3   4

In [28]:
high_temp_id = weather[
        (temp_diff > 0) & (date_diff == pd.Timedelta(days=1))
    ]