In [64]:
import pandas as pd

In [65]:
animals = pd.read_csv("pandas_15.csv")

In [68]:
animals.sort_values(by="weight", ascending=False)[["name"]]

       name
0   Tatiana
3  Jonathan
5     Tommy
2      Alex
4    Stefan
1    Khaled

In [67]:
animals[animals["weight"] > 100].sort_values(by="weight", ascending=False)[["name"]]

       name
0   Tatiana
3  Jonathan
5     Tommy
2      Alex